@model CavalinderMVC.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bithday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarasName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.bithday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.HarasName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>

</table>
